<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.house.mapper.HouseFilterMapper">

    <!-- 통합 주택 정보 조회 -->
    <select id="getHousingList" parameterType="org.scoula.house.dto.HousePage.HouseSearchRequestDTO"
            resultType="org.scoula.house.domain.HouseCardVO">
        <![CDATA[
        SELECT
            n.ais_tp_cd_nm,
            n.cnp_cd_nm,
            n.pan_ss,
            d.bzdt_nm,
            d.lct_ara_adr,
            d.min_max_rsdn_ddo_ar,
            d.sum_tot_hsh_cnt,
            att.ahfl_url,
            n.pan_nt_st_dt,
            d.danzi_id
        FROM lh_notice n
        INNER JOIN notice_danzi nd ON n.notice_id = nd.notice_id
        INNER JOIN danzi d ON nd.danzi_id = d.danzi_id
        LEFT JOIN (
            SELECT danzi_id, ahfl_url
            FROM danzi_att
            WHERE fl_ds_cd_nm = '단지조감도'
        ) att ON nd.danzi_id = att.danzi_id
        WHERE 1=1
        ]]>
        <!-- 날짜 필터 (최근 6개월) -->
        <![CDATA[
        AND n.pan_nt_st_dt >= DATE_SUB(NOW(), INTERVAL 6 MONTH)
        ]]>

        <!-- 지역 필터 -->
        <if test="cnpCdNm != null and cnpCdNm != ''">
            AND n.cnp_cd_nm = #{cnpCdNm}
        </if>

        <!-- 공고유형 필터 -->
        <if test="aisTpCdNm != null and aisTpCdNm != ''">
            AND n.ais_tp_cd_nm = #{aisTpCdNm}
        </if>

        <!-- 공고상태 필터 -->
        <if test="panSs != null and panSs != ''">
            AND n.pan_ss = #{panSs}
        </if>


        <![CDATA[
        ORDER BY n.pan_nt_st_dt DESC
        LIMIT #{size} OFFSET #{offset}
        ]]>
    </select>

    <!-- 전체 카운트 조회 -->
    <select id="getHousingCount" parameterType="org.scoula.house.dto.HousePage.HouseSearchRequestDTO"
            resultType="int">
        <![CDATA[
        SELECT COUNT(*)
        FROM lh_notice n
        INNER JOIN notice_danzi nd ON n.notice_id = nd.notice_id
        INNER JOIN danzi d ON nd.danzi_id = d.danzi_id
        WHERE 1=1
        ]]>
        <!-- 날짜 필터 (최근 6개월) -->
        <![CDATA[
        AND n.pan_nt_st_dt >= DATE_SUB(NOW(), INTERVAL 6 MONTH)
        ]]>

        <!-- 지역 필터 -->
        <if test="cnpCdNm != null and cnpCdNm != ''">
            AND n.cnp_cd_nm = #{cnpCdNm}
        </if>

        <!-- 공고유형 필터 -->
        <if test="aisTpCdNm != null and aisTpCdNm != ''">
            AND n.ais_tp_cd_nm = #{aisTpCdNm}
        </if>

        <!-- 공고상태 필터 -->
        <if test="panSs != null and panSs != ''">
            AND n.pan_ss = #{panSs}
        </if>


    </select>
</mapper>