<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.comment.mapper.CommentMapper">

    <select id="getCommentsByDanziId" resultType="org.scoula.comment.dto.CommentDTO">
        SELECT c.danzi_id AS danziId,
               c.comment_id AS commentId,
               c.content,
               c.user_id AS userId,
               u.nickname,
               c.is_deleted AS isDeleted
        FROM comments c
                 JOIN users u ON c.user_id = u.user_id
        WHERE c.danzi_id = #{danziId}
          AND c.is_deleted = false
        ORDER BY c.comment_id DESC
    </select>

    <insert id="insertComment" parameterType="org.scoula.comment.dto.CommentDTO">
        INSERT INTO comments (danzi_id, content, user_id, nickname, is_deleted)
        SELECT
            #{danziId},
            #{content},
            #{userId},
            u.nickname,
            false
        FROM users u
        WHERE u.user_id = #{userId}
    </insert>

    <update id="deleteComment">
        UPDATE comments
        SET is_deleted = true
        WHERE comment_id = #{commentId}
    </update>

</mapper>
