<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.scoula.statics.domain"/>
        <package name="org.scoula.statics.dto"/>
    </typeAliases>
    <mappers>
        <mapper resource="org/scoula/statics/mapper/StaticsMapper.xml"/>
    </mappers>
</configuration>