<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.summary.mapper.SummaryMapper">

    <select id="findByPanId" resultType="java.lang.String">
        SELECT summary
        FROM summary
        WHERE pan_id = #{panId}
    </select>

    <insert id="insertSummary">
        INSERT INTO summary (pan_id, summary)
        VALUES (#{panId}, #{summary})
    </insert>
</mapper>
