<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.lh.danzi.mapper.DanziAttMapper">
    <insert id="create" parameterType="org.scoula.lh.danzi.domain.DanziAttVO">
        INSERT INTO danzi_att (danzi_id, fl_ds_cd_nm, cmn_ahfl_nm, ahfl_url)
        VALUES (#{danziId}, #{flDsCdNm}, #{cmnAhflNm}, #{ahflUrl})
    </insert>

    <insert id="createAll" parameterType="java.util.List">
        INSERT INTO danzi_att (danzi_id, fl_ds_cd_nm, cmn_ahfl_nm, ahfl_url)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.danziId}, #{item.flDsCdNm}, #{item.cmnAhflNm}, #{item.ahflUrl})
        </foreach>
    </insert>

    <resultMap id="danziAttResultMap" type="org.scoula.lh.danzi.domain.DanziAttVO">
        <id property="attId" column="att_id"/>
        <result property="danziId" column="danzi_id"/>
        <result property="flDsCdNm" column="fl_ds_cd_nm"/>
        <result property="cmnAhflNm" column="cmn_ahfl_nm"/>
        <result property="ahflUrl" column="ahfl_url"/>
    </resultMap>

    <!-- 단지 ID로 조회 -->
    <select id="getBydanziId" parameterType="int" resultMap="danziAttResultMap">
        SELECT danzi_id, fl_ds_cd_nm, cmn_ahfl_nm, ahfl_url
        FROM danzi_att
        WHERE danzi_id = #{danziId}
    </select>
</mapper>