<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.auth.mapper.AuthMapper">

    <select id="findByEmail" resultType="org.scoula.user.domain.User">
        SELECT * FROM users
        WHERE email = #{email}
    </select>

    <select id="findByNickname" resultType="org.scoula.user.domain.User">
        SELECT *
        from users
        WHERE nickname = #{nickname};
    </select>

    <insert id="insertUser" parameterType="org.scoula.user.domain.User">
        INSERT INTO users (email, password, name, nickname, address, additional_point)
        VALUES (#{email}, #{password}, #{name}, #{nickname}, #{address}, #{additionalPoint})
    </insert>

    <delete id="deleteByEmail">
        DELETE FROM users WHERE email = #{email}
    </delete>

    <update id="updatePasswordByEmail">
        UPDATE users
        SET password = #{password}
        WHERE email = #{email}
    </update>
</mapper>