<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.selfCheck.mapper.SelfCheckMapper">
    <insert id="insertResult">
        INSERT INTO self_check_result (user_id, result)
        VALUES (#{userId}, #{result});
    </insert>

    <delete id="deleteByUserId">
        DELETE
        FROM self_check_result
        WHERE user_id = #{userId};
    </delete>

    <select id="findResultsByUserId" resultType="java.lang.String">
        SELECT result
        FROM self_check_result
        WHERE user_id = #{userId};
    </select>

    <insert id="insertSelfCheckContent">
        INSERT INTO self_check_content (user_id, residence_period, is_homeless, household_members, marital_status,
                                        monthly_income,
                                        total_assets, car_value, real_estate_value, subscription_period, target_groups)
        VALUES ( #{userId}, #{dto.residencePeriod}, #{dto.isHomeless}, #{dto.houseHoldMembers}, #{dto.maritalStatus}
               , #{dto.monthlyIncome}
               , #{dto.totalAssets}, #{dto.carValue}, #{dto.realEstateValue}, #{dto.subscriptionPeriod}
               , #{targetGroupsStr});
    </insert>

    <delete id="deleteSelfCheckContentByUserId">
        DELETE
        FROM self_check_content
        WHERE user_id = #{userId};
    </delete>

    <select id="findSelfCheckContentByUserId" resultType="org.scoula.selfCheck.dto.SelfCheckContentDto">
        SELECT *
        FROM self_check_content
        WHERE user_id = #{userId};
    </select>
</mapper>
