<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.chapi.mapper.PublicPrivateRentDBMapper">
    <insert id="insert">
        INSERT INTO APPLYHOME_publicPrivateRent(BSNS_MBY_NM, CNTRCT_CNCLS_BGNDE, CNTRCT_CNCLS_ENDDE, HMPG_ADRES,
                                        HOUSE_DETAIL_SECD, HOUSE_DETAIL_SECD_NM, HOUSE_MANAGE_NO, HOUSE_NM,
                                        HOUSE_SECD, HOUSE_SECD_NM, HSSPLY_ADRES, HSSPLY_ZIP, MDHS_TELNO,
                                        MVN_PREARNGE_YM, NSPRC_NM, PBLANC_NO, PBLANC_URL, PRZWNER_PRESNATN_DE,
                                        RCRIT_PBLANC_DE, SEARCH_HOUSE_SECD, SUBSCRPT_AREA_CODE, SUBSCRPT_AREA_CODE_NM,
                                        SUBSCRPT_RCEPT_BGNDE, SUBSCRPT_RCEPT_ENDDE, TOT_SUPLY_HSHLDCO)
        VALUES (#{bsnsMbyNm}, #{cntrctCnclsBgnde}, #{cntrctCnclsEndde}, #{hmpgAdres},
                #{houseDetailSecd}, #{houseDetailSecdNm}, #{houseManageNo}, #{houseNm},
                #{houseSecd}, #{houseSecdNm}, #{hssplyAdres}, #{hssplyZip}, #{mdhsTelno},
                #{mvnPrearngeYm}, #{nsprcNm}, #{pblancNo}, #{pblancUrl}, #{przwnerPresnatnDe},
                #{rcritPblancDe}, #{searchHouseSecd}, #{subscrptAreaCode}, #{subscrptAreaCodeNm},
                #{subscrptRceptBgnde}, #{subscrptRceptEndde}, #{totSuplyHshldco})
            ON DUPLICATE KEY UPDATE
                                 BSNS_MBY_NM = VALUES(BSNS_MBY_NM),
                                 CNTRCT_CNCLS_BGNDE = VALUES(CNTRCT_CNCLS_BGNDE),
                                 CNTRCT_CNCLS_ENDDE = VALUES(CNTRCT_CNCLS_ENDDE),
                                 HMPG_ADRES = VALUES(HMPG_ADRES),
                                 HOUSE_DETAIL_SECD = VALUES(HOUSE_DETAIL_SECD),
                                 HOUSE_DETAIL_SECD_NM = VALUES(HOUSE_DETAIL_SECD_NM),
                                 HOUSE_MANAGE_NO = VALUES(HOUSE_MANAGE_NO),
                                 HOUSE_NM = VALUES(HOUSE_NM),
                                 HOUSE_SECD = VALUES(HOUSE_SECD),
                                 HOUSE_SECD_NM = VALUES(HOUSE_SECD_NM),
                                 HSSPLY_ADRES = VALUES(HSSPLY_ADRES),
                                 HSSPLY_ZIP = VALUES(HSSPLY_ZIP),
                                 MDHS_TELNO = VALUES(MDHS_TELNO),
                                 MVN_PREARNGE_YM = VALUES(MVN_PREARNGE_YM),
                                 NSPRC_NM = VALUES(NSPRC_NM),
                                 PBLANC_URL = VALUES(PBLANC_URL),
                                 PRZWNER_PRESNATN_DE = VALUES(PRZWNER_PRESNATN_DE),
                                 RCRIT_PBLANC_DE = VALUES(RCRIT_PBLANC_DE),
                                 SEARCH_HOUSE_SECD = VALUES(SEARCH_HOUSE_SECD),
                                 SUBSCRPT_AREA_CODE = VALUES(SUBSCRPT_AREA_CODE),
                                 SUBSCRPT_AREA_CODE_NM = VALUES(SUBSCRPT_AREA_CODE_NM),
                                 SUBSCRPT_RCEPT_BGNDE = VALUES(SUBSCRPT_RCEPT_BGNDE),
                                 SUBSCRPT_RCEPT_ENDDE = VALUES(SUBSCRPT_RCEPT_ENDDE),
                                 TOT_SUPLY_HSHLDCO = VALUES(TOT_SUPLY_HSHLDCO)
    </insert>

</mapper>