<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.lh.mapper.LhHousingMapper">
    <insert id="create" parameterType="org.scoula.lh.domain.LhHousingVO">
        INSERT INTO LH_housing (
            pan_id,
            bzdt_nm,
            lct_ara_adr,
            lct_ara_dtl_adr,
            min_max_rsdn_ddo_ar,
            sum_tot_hsh_cnt,
            htn_fmla_ds_cd_nm,
            mvin_xpc_ym
        )
        VALUES (
                   #{panId},
                   #{bzdtNm},
                   #{lctAraAdr},
                   #{lctAraDtlAdr},
                   #{minMaxRsdnDdoAr},
                   #{sumTotHshCnt},
                   #{htnFmlaDsCdNm},
                   #{mvinXpcYm}
               )
    </insert>

    <insert id="createAll" parameterType="java.util.List">
        INSERT INTO LH_housing (
        pan_id,
        bzdt_nm,
        lct_ara_adr,
        lct_ara_dtl_adr,
        min_max_rsdn_ddo_ar,
        sum_tot_hsh_cnt,
        htn_fmla_ds_cd_nm,
        mvin_xpc_ym
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.panId},
            #{item.bzdtNm},
            #{item.lctAraAdr},
            #{item.lctAraDtlAdr},
            #{item.minMaxRsdnDdoAr},
            #{item.sumTotHshCnt},
            #{item.htnFmlaDsCdNm},
            #{item.mvinXpcYm}
            )
        </foreach>
    </insert>
    <select id="getByPanId" resultType="org.scoula.lh.domain.LhHousingVO">
        SELECT * FROM LH_housing WHERE pan_id = #{panId}
    </select>
</mapper>