<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.lh.mapper.LhNoticeMapper">

    <insert id="create">
        INSERT INTO lh_notice
        (pan_id,
         upp_ais_tp_cd,
         ais_tp_cd_nm,
         pan_nm,
         cnp_cd_nm,
         pan_ss,
         all_cnt,
         dtl_url,
         spl_inf_tp_cd,
         ccr_cnnt_sys_ds_cd,
         ais_tp_cd,
         pan_nt_st_dt)
        VALUES (#{panId},
                #{uppAisTpCd},
                #{aisTpCdNm},
                #{panNm},
                #{cnpCdNm},
                #{panSs},
                #{allCnt},
                #{dtlUrl},
                #{splInfTpCd},
                #{ccrCnntSysDsCd},
                #{aisTpCd},
                #{panNtStDt})
            ON DUPLICATE KEY UPDATE upp_ais_tp_cd      = VALUES(upp_ais_tp_cd),
            ais_tp_cd_nm       = VALUES(ais_tp_cd_nm),
                                 pan_nm             = VALUES(pan_nm),
                                 cnp_cd_nm          = VALUES(cnp_cd_nm),
                                 pan_ss             = VALUES(pan_ss),
                                 all_cnt            = VALUES(all_cnt),
                                 dtl_url            = VALUES(dtl_url),
                                 spl_inf_tp_cd      = VALUES(spl_inf_tp_cd),
                                 ccr_cnnt_sys_ds_cd = VALUES(ccr_cnnt_sys_ds_cd),
                                 ais_tp_cd          = VALUES(ais_tp_cd),
                                 pan_nt_st_dt       = VALUES(pan_nt_st_dt);
    </insert>

    <insert id="createAll" parameterType="java.util.List">
        INSERT INTO lh_notice (
        pan_id,
        upp_ais_tp_cd,
        ais_tp_cd_nm,
        pan_nm,
        cnp_cd_nm,
        pan_ss,
        all_cnt,
        dtl_url,
        spl_inf_tp_cd,
        ccr_cnnt_sys_ds_cd,
        ais_tp_cd,
        pan_nt_st_dt
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.panId},
            #{item.uppAisTpCd},
            #{item.aisTpCdNm},
            #{item.panNm},
            #{item.cnpCdNm},
            #{item.panSs},
            #{item.allCnt},
            #{item.dtlUrl},
            #{item.splInfTpCd},
            #{item.ccrCnntSysDsCd},
            #{item.aisTpCd},
            #{item.panNtStDt}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        upp_ais_tp_cd = VALUES(upp_ais_tp_cd),
        ais_tp_cd_nm = VALUES(ais_tp_cd_nm),
        pan_nm = VALUES(pan_nm),
        cnp_cd_nm = VALUES(cnp_cd_nm),
        pan_ss = VALUES(pan_ss),
        all_cnt = VALUES(all_cnt),
        dtl_url = VALUES(dtl_url),
        spl_inf_tp_cd = VALUES(spl_inf_tp_cd),
        ccr_cnnt_sys_ds_cd = VALUES(ccr_cnnt_sys_ds_cd),
        ais_tp_cd = VALUES(ais_tp_cd),
        pan_nt_st_dt = VALUES(pan_nt_st_dt);
    </insert>

    <select id="getLhNotice" resultType="org.scoula.lh.domain.LhNoticeVO">
        SELECT *
        FROM lh_notice
        WHERE pan_id = #{panId}
        ORDER BY notice_id DESC
            LIMIT 1
    </select>

    <select id="getLhNotices" resultType="org.scoula.lh.domain.LhNoticeVO">
        SELECT *
        FROM lh_notice
    </select>

    <select id="existsByPanId" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM lh_notice WHERE pan_id = #{panId})
    </select>

    <insert id="createNoticeDanzi">
        insert into notice_danzi(notice_id, danzi_id)
        values (#{noticeId}, #{danziId})
    </insert>

    <select id="getDanziId" resultType="Integer">
        select danzi_id from notice_danzi where notice_id = #{noticeId}
    </select>

    <select id="getNoticeId" resultType="integer">
        select notice_id from notice_danzi where danzi_id = #{danziId}
    </select>

    <select id="getPanIds" resultType="String">
        select pan_id from lh_notice
    </select>

    <select id="getLHNoticeList" resultType="org.scoula.lh.danzi.domain.NoticeVO">
        SELECT *
        FROM lh_notice
        WHERE pan_id IN
        <foreach collection="list" item="panId" open="(" separator="," close=")">
            #{panId}
        </foreach>
    </select>

    <update id="updateNoticeIdByDanziId">
        UPDATE notice_danzi
        SET notice_id = #{noticeId}
        WHERE danzi_id = #{danziId}
    </update>

    <!-- 새로운 기능 추가 -->
    <select id="getAllLhNoticesNew" resultType="org.scoula.lh.domain.LhNoticeVO">
        SELECT *
        FROM MyHomeCatch.lh_notice
    </select>

    <select id="getLhNoticeByPanIdNew" resultType="org.scoula.lh.domain.LhNoticeVO">
        SELECT *
        FROM MyHomeCatch.lh_notice
        WHERE pan_id = #{panId}
    </select>
</mapper>