<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.statics.mapper.StaticsMapper">

    <select id="getApplicant" resultType="org.scoula.statics.domain.ApplicantRegionVO">
        select * from applicant_region where regionId = #{regionId} and stat_de = #{date}
    </select>


    <select id="getWinner" resultType="org.scoula.statics.domain.WinnerRegionVO">
        select * from winner_region where regionId = #{regionId} and stat_de = #{date}
    </select>

    <select id="getRegionId" resultType="Integer">
        select id from region where name = #{region}
    </select>

    <insert id="insertApplicantList" parameterType="org.scoula.statics.domain.ApplicantRegionVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into applicant_region(regionId, stat_de, age_30, age_40, age_50, age_60)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.regionId}, #{item.statDe}, #{item.age30}, #{item.age40}, #{item.age50}, #{item.age60})
        </foreach>
    </insert>

    <insert id="insertWinnerList" parameterType="org.scoula.statics.domain.WinnerRegionVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into winner_region(regionId, stat_de, age_30_win, age_40_win, age_50_win, age_60_win)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.regionId}, #{item.statDe}, #{item.age30Win}, #{item.age40Win}, #{item.age50Win}, #{item.age60Win})
        </foreach>
    </insert>
</mapper>